<div class="page-header">
  <h2>修改密码</h2>
</div>

<%= form_for @user, :url => {:controller => "my", :action => "password"}, :html => { :method => :post, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :current_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
