<%- model_class = @location.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @location.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @location.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @location.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:street) %>:</strong></dt>
  <dd><%= @location.street %></dd>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @location.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @location.longitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gmaps) %>:</strong></dt>
  <dd><%= @location.gmaps %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('link.back', :default => t("helpers.links.back")),
              locations_path, :class => 'btn'  %>
  <%= link_to t('link.edit', :default => t("helpers.links.edit")),
              edit_location_path(@location), :class => 'btn' %>
  <%= link_to t('link.destroy', :default => t("helpers.links.destroy")),
              location_path(@location),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  <%= link_to t('link.new_infos'),
              new_info_path(:location_id => @location),
              :class => 'btn btn-primary' %>
</div>

<%- if @infos.size > 0 -%>
  <%- model_class = Info.new.class -%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:location) %></th>
        <th><%= sort_link @search, :temperature, model_class.human_attribute_name(:temperature) %></th>
        <th><%= sort_link @search, :humidity, model_class.human_attribute_name(:humidity) %></th>
        <th><%= sort_link @search, :status, model_class.human_attribute_name(:status) %></th>
        <th><%= sort_link @search, :happened_at, model_class.human_attribute_name(:happened_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @infos.each do |info| %>
        <tr>
          <td><%= link_to info.id, info_path(info) %></td>
          <td><%= info.try(:location).try(:name) %></td>
          <td><%= info.temperature %></td>
          <td><%= info.humidity %></td>
          <td><%= info.status %></td>
          <td><%=l info.happened_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%- end -%>
