<%= form_for @info, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :happened_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :happened_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :temperature, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :temperature, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :humidity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :humidity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nitrogen, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nitrogen, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phosphoru, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phosphoru, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :potassium, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :potassium, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <%= f.hidden_field :gmaps, :value => 1 %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('link.cancel', :default => t("helpers.links.cancel")),
                infos_path, :class => 'btn' %>
  </div>
<% end %>
