<%- model_class = Info.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c| %>
    <div class="field">
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
      <%= link_to "remove", '#', :class => "remove_fields" %>
    </div>
  <% end %>
  <div><%= f.submit "搜索", :class => 'btn btn-success' %></div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :id, model_class.human_attribute_name(:id) %></th>
      <th><%= sort_link @search, :location_name, model_class.human_attribute_name(:location) %></th>
      <th><%= sort_link @search, :temperature, model_class.human_attribute_name(:temperature) %></th>
      <th><%= sort_link @search, :humidity, model_class.human_attribute_name(:humidity) %></th>
      <th><%= sort_link @search, :status, model_class.human_attribute_name(:status) %></th>
      <th><%= sort_link @search, :happened_at, model_class.human_attribute_name(:happened_at) %></th>
      <th><%= sort_link @search, :created_at, model_class.human_attribute_name(:created_at) %></th>
      <th><%=t 'views.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= link_to info.id, info_path(info) %></td>
        <td><%= link_to info.try(:location).try(:name), info.location %></td>
        <td><%= info.temperature %></td>
        <td><%= info.humidity %></td>
        <td><%= info.status %></td>
        <td><%= info.happened_at %></td>
        <td><%=l info.created_at %></td>
        <td>
          <%= link_to t('link.edit', :default => t("helpers.links.edit")),
                      edit_info_path(info), :class => 'btn btn-mini' %>
          <%= link_to t('link.destroy', :default => t("helpers.links.destroy")),
                      info_path(info),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('link.new', :default => t("helpers.links.new")),
            new_info_path,
            :class => 'btn btn-primary' %>
